@import "/src/styles/colors";

.compare-card {
  background-color: rgb(183, 212, 255, 0.5);
  backdrop-filter: blur(4);
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 35px;
  height: 100%;
  h2 {
    margin-top: 0;
  }
  &__chars {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    min-height: 80%;

    > * {
      flex: 1 0 30%;
    }
  }
}
