@import "/src/styles/colors";

.compare-card {
  // max-width: 75%;
  background-color: rgb(183, 212, 255, 0.5);
  backdrop-filter: blur(4);
  border: 1px solid $primary;
  border-radius: 5px;
  padding: 35px;
  height: 100%;
  &__chars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    
    // > * {
    //   flex: 1 0 30%;
    // }
  }
}
