<div class="profile">
  <form class="profile__info" (submit)="editMe($event)">
    <h2>Modifica il tuo profilo</h2>
    <app-input type="email" name="email" placeholder="Email" [ngModel]="user.email"></app-input>
    <div class="profile__info-name">
      <app-input type="text" name="name" placeholder="Nome" [ngModel]="user.name"></app-input>
      <app-input
        type="text"
        name="lastName"
        placeholder="Cognome"
        [ngModel]="user.lastName"
      ></app-input>
    </div>
    <app-button [disabled]="isLoading && isSavingUser">
      @if (!(isLoading && isSavingUser)) {
        <span>Save</span>
      } @else {
        <div class="loader"></div>
      }
    </app-button>
  </form>
  <div class="profile__import">
    <h2>Importa i film e le serie viste</h2>
    <a routerLink="/user/tutorial">Serve aiuto?</a>


    <h3>Stiamo lavorando per migliorare questa funzionalità 🚧
    </h3>
    <div class="import__area">
      <div class="disabled-overlay">
      <h3>Trakt.tv</h3>
      <form class="input-group" (submit)="importTrakt($event)">
        <app-input
          type="text"
          name="username"
          placeholder="Username Trakt.TV"
          [ngModel]="username"
        ></app-input>
        <app-button>Save</app-button>
      </form>

      <h3>Letterboxd</h3>
      <form class="input-group" (submit)="importLetterboxd($event)">
        <app-input type="file" name="file" accept=".csv"></app-input>
        <app-button>Save</app-button>
      </form>
      @if (isLoading && !isSavingUser) {
        <div class="overlay">
          <div class="spinner"></div>
          <small
            >Se hai visto tanti film potrebbe volerci un
            pochino di tempo... nel frattempo, <br>lo sapevi che <b>Flavio Aquilone</b> ha doppiato oltre 540 personaggi?

            </small
            >
          </div>
        }
      </div>
      @if (notFound.length > 0) {
        <div class="not-found">
          <h3>({{ notFound.length }}) elementi non trovati</h3>
          <ul>
            @for (show of notFound; track show) {
              <li>
                @if (selected !== show) {
                  <span>{{ show }}</span>
                }
                @if (selected === show) {
                  <app-suggestion-input
                    name="query"
                    dataSuggestionsVar="suggestions"
                    placeholder="Serie, film o videogioco..."
                    [autocomplete]="'off'"
                    [autofocus]="true"
                    [id]="show"
                    #appInput
                    >
                  </app-suggestion-input>
                }
                @if (selected !== show) {
                  <button (click)="toggleFind(show)" class="find">Find</button>
                }
                @if (selected === show) {
                  <button class="save" (click)="addToSeen(show)">Save</button>
                }
              </li>
            }
          </ul>
        </div>
      }
    </div>
    </div>
  </div>
