@use "/src/styles/types";
@use "/src/styles/colors" as *;
@use "/src/styles/mixins";
@use "sass:color";

.nav {
  height: 50px;
  backdrop-filter: blur(10px);
  background-color: rgb($primary, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;

  font-size: types.$text;

  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  &--mobile {
    display: none;
  }
  &__user-area,
  &__global {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  $links: (
    home: "Home",
    login: "Login",
    signup: "Registrati",
    profile: "Profilo"
  );
  &__item {
    @each $id, $link in $links {

      &##{$id} {
        &:after {
          content: $link;
        }
      }
    }
  }
  @media screen and (max-width: 540px) {
    min-height: 100px;
    height: unset;
    padding: 15px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    .nav__item:not(.nav--mobile .nav__item) {
      display: none;
    }
    .nav--mobile  {
      display: inline;
      .nav__toggle {
        @include mixins.button;
        aspect-ratio: 1/1;
        height: 50px;
        padding: unset;
      }
    }
    .nav--mobile-dropdown {
      position: fixed;
      top: 100px;
      left: 0;

      transform: translateY(calc(-100% - 100px));
      transition: 0.5s;

      width: 100%;

      padding: 40px;

      background-color: $primary;
      backdrop-filter: blur(100px);

      display: flex;
      flex-direction: column;
      align-items:center ;

      a {
        color: white!important;
        display: block;
        margin-bottom: 10px;
      }



      &.open {
        transform: translateY(0%);
      }

    }
  }
}
