<nav class="nav">
  <div class="nav__global">
    <a class="nav__item" id="home" routerLink="/"></a>
    @if (isLogged) {
    <form (submit)="navigateToSearch($event)">
      <app-input
        dataSuggestionsVar="suggestions"
        placeholder="Inserisci un titolo..."
        autocomplete="off"
        name="query"
      >
        <button><i class="bi bi-search"></i></button>
      </app-input>
    </form>
    }
  </div>
  <div class="nav__user-area">
    @if (!isLogged) {
    <a
      routerLink="auth"
      [queryParams]="{
        signup: false,
      }"
      class="nav__item"
      id="login"
    ></a>
    <a
      routerLink="auth"
      [queryParams]="{
        signup: true,
      }"
      class="nav__item"
      id="signup"
    ></a>
    } @else {
    <a routerLink="auth/user" class="nav__item" id="profile"></a>
    <a routerLink="auth/logout" class="nav__item" id="logout">Logout</a>

    }
  </div>

  <div class="nav--mobile">
    <button class="nav__toggle" (click)="openNav()">
      <i class="bi bi-list"></i>
    </button>
    <div class="nav--mobile-dropdown" #dropdown>
      <a class="nav__item" id="home" routerLink="/"></a>
      <div class="nav__user-area">
        @if(!isLogged) {
        <a
          routerLink="auth"
          [queryParams]="{
            signup: false,
          }"
          class="nav__item"
          id="login"
        ></a>
        <a
          routerLink="auth"
          [queryParams]="{
            signup: true,
          }"
          class="nav__item"
          id="signup"
        ></a>
        } @else {
        <a routerLink="auth/user" class="nav__item" id="profile"></a>
        <a routerLink="auth/logout" class="nav__item" id="logout">Logout</a>
        }
      </div>
    </div>
  </div>
</nav>
