@import "/src/styles/colors";

:host {
  // width: calc(33% - 40px);
  // max-width: 50%;
  min-width: 550px;
  flex: 1 1 calc(33% - 40px);
  display: block;
  container-type: inline-size;

  // &:nth-child(odd) {
  //   .card {
  //     flex-direction: row-reverse;
  //   }
  // }
  @media screen and (max-width: 690px) {
    // width: 50%;
    min-width: 265px;
    .card {
      flex-direction: column;
    }
  }
  .card {
    // height: 100%;
    background-color: rgb(183, 212, 255, 0.5);
    backdrop-filter: blur(4);
    border: 1px solid $primary;
    border-radius: 5px;
    // padding: 10px;
    position: relative;

    display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    align-items: center;
    // flex-wrap: wrap;
    // padding-bottom: 20px;

    h3 {
      display: -webkit-box;
      max-width: 100%;
      text-wrap: wrap;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      // $fs: 1.2em;
      // font-size: $fs;
      min-height: 18px * 3;
      @container (max-width: 250px) {
        font-size: 16px;
      }
    }
    &__bg {
      // width: 100%;
      min-width: 260px;
      height: 100%;
      aspect-ratio: 1/1;
      // opacity: 50%;
    }
    img {
      // width: 100%;
      height: 100%;
      aspect-ratio: 1/1;
      object-fit: contain;

      backdrop-filter: blur(10px);
    }
    &__body {
      padding: 20px;
      h3 {
        margin: 0;
      }
    }
    &__actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      ::ng-deep {
        button {
          padding: 8px 16px;
          display: flex;
          align-items: center;
          gap: 5px;
          justify-content: center;
          // line-height: 100%;
          ion-icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }
}
