@use "/src/styles/colors" as *;

:host {
  // min-width: 500px;
  // flex: 1 1 calc(33% - 40px);
  display: block;
  container-type: inline-size;

  @media screen and (max-width: 690px) {
    min-width: 265px;
    .card {
      flex-direction: column;
    }
  }
  .card {
    background-color: rgb(183, 212, 255, 0.5);
    backdrop-filter: blur(4);
    border: 1px solid $primary;
    border-radius: 5px;
    position: relative;

    h3 {
      @container (max-width: 250px) {
        font-size: 16px;
      }
    }
    img {
      width: 100%;
    }
    &__body {
      padding: 20px;
      h3 {
        margin-block: 0px 10px;
      }
    }
    &__actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      ::ng-deep {
        button {
          padding: 8px 16px;
          display: flex;
          align-items: center;
          gap: 5px;
          justify-content: center;
          i {
           font-size: 16px;
          }
        }
      }
    }
  }
}
