@import "/src/styles/colors";

:host {
  display: block;
  flex: 1 0 calc(20% - 20px);
  max-width: calc(20% - 20px);
  min-width: 200px;
  aspect-ratio: 4/5;
  container-type: inline-size;
  // width: clamp(200px, calc(20% - 20px), 400px);
  // height: 100%;
  .card {
    height: 100%;
    background-color: rgb(183, 212, 255, 0.5);
    backdrop-filter: blur(4);
    border: 1px solid $primary;
    border-radius: 5px;
    // padding: 10px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    h3 {
      display: -webkit-box;
      max-width: 100%;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      // $fs: 1.2em;
      // font-size: $fs;
      min-height: 18px * 2;
      @container (max-width: 250px) {
        font-size: 16px;
      }
    }
    &__bg {
      height: 50%;
      width: 100%;
      // opacity: 50%;
    }
    img {
      width: 100%;
      height: 100%;
      aspect-ratio: 16/9;
      object-fit: contain;
      // position: absolute;
      top: 0;
      left: 0;
      backdrop-filter: blur(10px);
    }
    &__body {
      padding: 20px;
      h3 {
        margin: 0;
      }
    }
    &__actions {
      display: flex;
      gap: 10px;
      ::ng-deep {
        button {
          padding: 8px 16px;
          line-height: 100%;
        }
      }
    }

  }
}
