@use "/src/styles/colors" as *;

:host {
  min-width: 300px;
  height: 100%;
  width: 30%;
  display: block;
  container-type: inline-size;
  @media screen and (max-width: 1250px) {
    width: calc(50% - 10px);
  }

  .card {
    background-color: rgb(183, 212, 255, 0.5);
    backdrop-filter: blur(4);
    border: 1px solid $primary;
    border-radius: 5px;
    height: 100%;

    position: relative;


    h3 {
      font-size: clamp(0.6rem, 3vw, 1rem);
      @container (max-width: 250px) {
        font-size: 16px;
      }
      overflow: hidden;
      text-overflow: ellipsis;
      width: 90%;
      text-wrap: nowrap;
    }
    img {
      width: 100%;
      aspect-ratio: 1/1;
      object-fit: cover;
    }
    &__body {
      padding: 20px;
      h3 {
        margin-block: 0px 10px;
      }
    }
    &__actions {
      display: flex;
      flex-direction: column;
      gap: 10px;
      ::ng-deep {
        button {
          padding: 8px 16px;
          display: flex;
          align-items: center;
          gap: 5px;
          justify-content: center;
          i {
            font-size: 16px;
          }
        }
      }
    }
  }
}
