@use "src/styles/colors" as *;
@use "sass:color";
@use "src/styles/types";

@mixin button($color: $primary) {
  @if ($color == $primary) {
    background-color: $primary;
    color: white;
  } @else {
    background-color: $accent;
    color: black;
  }
  padding: 16px 32px;
  border: none;
  border-radius: 5px;
  font-size: types.$text;
  box-shadow: 2px 2px 5px 0px rgb(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px 0px rgb(0, 0, 0, 0.1);
  transition: 0.15s;
  width: inherit;
  cursor: pointer;
  &:hover {
    background-color: color.adjust($color, $lightness: 5%);
  }
  &:active {
    transform: translate(0px, 2px);
    box-shadow: none;
    -webkit-box-shadow: none;
  }
  &:disabled {
    background-color: color.adjust($color, $lightness: 30%);
    cursor: not-allowed;
  }
}
