<div class="auth__page">
  <div
    class="panel"
    [ngClass]="{
      login: this.state,
      register: !this.state,
    }"
  >
    <img src="../../../assets/titolo-sm.png" alt="" />
    <ul>
      <li>
        Aggiungi le serie TV e i film che hai visto al tuo profilo e scopri
        subito dove hai già sentito quella voce.
      </li>
      <li>Importa le tue liste da letterboxd e trackt.tv</li>
      <li>Trova doppiatori in comune tra due serie</li>
    </ul>

    <div *ngIf="!state; else Login">
      Hai già un account? <span (click)="toggleState()">Entra</span>
    </div>
    <ng-template #Login>
      <div>
        Non hai ancora un account?
        <span (click)="toggleState()">Registrati</span>
      </div>
    </ng-template>
  </div>
  <form class="auth__form-login" (ngSubmit)="handleLogin($event)">
    <app-input type="email" name="email" placeholder="Email"></app-input>
    <app-input
      type="password"
      name="password"
      placeholder="Password"
    ></app-input>
    <app-button [type]="'submit'">Login</app-button>
  </form>

  <form class="auth__form-login" (submit)="handleRegister($event)">
    <app-input type="email" name="email" placeholder="Email"></app-input>
    <app-input type="text" name="name" placeholder="Nome"></app-input>
    <app-input type="text" name="lastName" placeholder="Cognome"></app-input>
    <app-input
      type="password"
      name="password"
      placeholder="Password"
      [validatorFn]="passValidator()"
      validatorMsg="La password deve contenere almeno una lettera maiuscola, un carattere speciale ed essere lunga almeno 8 caratteri"
    ></app-input>
    <app-input
      type="password"
      name="confirmPassword"
      placeholder="Conferma password"
    ></app-input>
    <app-button>Registrati</app-button>
  </form>
</div>
