@use "src/styles/colors" as *;
@use "src/styles/types";

@use "sass:color";


:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  container-type: inline-size;
  .auth__page {
    width: 70%;
    margin-inline: 15%;
    container-type: inline-size;
    background-color: rgb($primary, 0.3);
    border: 1px $primary solid;
    border-radius: 5px;
    position: relative;
    display: flex;

    @container (max-width: 1100px) {
      margin-inline: 10%;
      width: 80%;
      align-items: center;
    }

    @container (max-width: 840px) {
      flex-direction: column;
    }
    .panel {
      position: absolute;
      z-index: 1000;
      &.login {
        transform: translateX(100%);
        box-shadow: -2px 0 5px 0 rgb(0, 0, 0, 0.3);
        -webkit-box-shadow: -2px 0 5px 0 rgb(0, 0, 0, 0.3);
        border-top-right-radius: inherit;
        border-bottom-right-radius: inherit;
        @container (max-width: 670px) {
          width: 100%;
          height: 60%;
          transform: translateY(67%);
          box-shadow: 0 -2px 5px 0 rgb(0, 0, 0, 0.3);
          -webkit-box-shadow: 0 -2px 5px 0 rgb(0, 0, 0, 0.3);
          border-top-right-radius: inherit;
          border-top-left-radius: inherit;
        }
      }
      &.register {
        transform: translateX(0);
        box-shadow: 2px 0 5px 0 rgb(0, 0, 0, 0.3);
        -webkit-box-shadow: 2px 0 5px 0 rgb(0, 0, 0, 0.3);
        border-top-left-radius: inherit;
        border-bottom-left-radius: inherit;
        @container (max-width: 670px) {
          width: 100%;
          height: 40%;
          transform: translateY(0);
          box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.3);
          -webkit-box-shadow: 0 2px 5px 0 rgb(0, 0, 0, 0.3);
          border-bottom-right-radius: inherit;
          border-bottom-left-radius: inherit;
          font-size: 15px;
          img {
            width: 70%;
          }
          li {
            padding-bottom: 10px;
          }
        }
      }
      width: 50%;
      height: 100%;
      background-color: $primary;

      padding: 50px 70px;
      @container (max-width: 1100px) {
        padding: 25px 35px;
      }

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      color: white;
      font-size: types.$text;

      transition: 0.5s;

      ul {
        padding-left: 10px;
      }
      li {
        padding-bottom: 20px;
      }
      span {
        color: $accent;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    form {
      width: 50%;
      padding: 50px 100px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      app-button,
      app-input {
        width: 100%;
        min-width: 260px;
        @container (max-width: 340px) {
          min-width: 200px;
        }
      }
    }
  }
}
