@import "/src/styles/types";
@import "/src/styles/colors";
:host {
  display: inline-block;
  app-input {
    width: 100%;
  }
  ::ng-deep app-input {
    display: unset;
  }
  ::ng-deep .search__suggestion {
    position: absolute;
    left: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    border: 1px solid white;
    margin-top: 5px;
    box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.1);
    -webkit-box-shadow: 2px 2px 5px 0 rgb(0, 0, 0, 0.1);
    &--first,
    &--second,
    &--watchList {
      width: 100%;
      // min-height: 100px;
      padding: 10px 15px;
      transition: 0.2s;
      &:hover {
        background-color: lighten($primary, 25%);
      }
    }
  }
}
