@use "/src/styles/colors" as *;
@use "sass:color";

:host {
  display: inline-block;
  app-input {
    width: 100%;
  }
  ::ng-deep app-input {
    display: unset;
  }
  datalist {
    background-color: white;
  }
  datalist {
    position: absolute;
    background-color: white;
    border: 1px solid blue;
    border-radius: 0 0 5px 5px;
    border-top: none;
    font-family: sans-serif;
    width: 350px;
    padding: 5px;
  }

  option {
    background-color: white;
    padding: 4px;
    color: blue;
    margin-bottom: 1px;
    font-size: 18px;
    cursor: pointer;
  }
}
