<app-input
  [name]="name"
  dataSuggestionsVar="suggestions"
  placeholder="Serie, film o videogioco..."
  [onChange]="getSuggestions"
  [onBlur]="emptySuggestions"
  [autocomplete]="'off'"
  [autofocus]="true"
  [id]="id"
  #appInput
  >
  <div class="search__suggestion" >
    @if (shouldShow && suggestions.length < 1) {
      <div class="search__suggestion--first">
        Warming up the data...
      </div>
    }
    @for (sugg of suggestions; track sugg) {
      <div
        class="search__suggestion--first"
        [id]="name"
        (click)="pickSuggestion($event)"
        >
        {{ sugg }}
      </div>
    }
  </div>
</app-input>
