<div class="profile">
  <div class="profile__info">
    <h2>Modifica il tuo profilo</h2>
    <app-input type="email" name="email" placeholder="Email"></app-input>
    <div class="profile__info-name">
      <app-input type="text" name="name" placeholder="Nome"></app-input>
      <app-input type="text" name="lastName" placeholder="Cognome"></app-input>
    </div>
    <app-button>Save</app-button>
  </div>
  <div class="profile__import">
    <h2>Importa i film e le serie viste</h2>
    <div class="import__area">
      <h3>Trakt.tv</h3>
      <form class="input-group" (submit)="importTrakt($event)">
        <app-input
          type="text"
          name="username"
          placeholder="Username Trakt.TV"
          [ngModel]="username"
        ></app-input>
        <app-button>Save</app-button>
      </form>
      <small
        >Se hai visto tanti film potrebbe volerci un pochino di tempo... Abbi
        pazienza!</small
      >
      <h3>Letterboxd</h3>
      <form class="input-group" (submit)="importLetterboxd($event)">
        <app-input type="file" name="file" accept=".csv"></app-input>
        <app-button>Save</app-button>
      </form>
      <div class="overlay" *ngIf="isLoading">
        <div class="spinner"></div>
      </div>
    </div>
    <div class="not-found" *ngIf="notFound.length > 0">
      <h3>({{ notFound.length }}) elementi non trovati</h3>
      <ul>
        <li *ngFor="let show of notFound" [id]="show">
          <span>{{ show }}</span>
          <app-input
            class="hide"
            [defaultValue]="query"
            name="query"
            dataSuggestionsVar="suggestions"
            placeholder="Inserisci serie"
            [onChange]="getSuggestions"
            [onBlur]="emptySuggestions"
            [autocomplete]="'off'"
            [autofocus]="true"
          >
            <div class="search__suggestion" *ngIf="suggestions.length > 0">
              <div
                class="search__suggestion--first"
                *ngFor="let sugg of suggestions"
                id="query"
                (click)="pickSuggestion($event)"
              >
                {{ sugg }}
              </div>
            </div>
          </app-input>
          <button (click)="toggleFind($event)" class="find">Find</button>
          <button

          class="hide save"  (click)="addToSeen($event, show)">Save</button>
        </li>
      </ul>
    </div>
  </div>
</div>
