@use "src/styles/types";
@use "src/styles/colors" as *;
@use "src/styles/mixins";

@use "sass:color";


.inset-shadow {
  box-shadow: inset 2px 2px 5px 0px rgb(0, 0, 0, 0.08) !important;
  -webkit-box-shadow: inset 2px 2px 5px 0px rgb(0, 0, 0, 0.08) !important;
}

:host {
  display: flex;
  align-items: center;
  position: relative;

  &:has(::ng-deep button:not(.toggle-password)) {
    input {
      border-top-right-radius: 0px !important;
      border-bottom-right-radius: 0px !important;
    }
  }
  & input:focus + ::ng-deep button:not(.toggle-password) {
    outline: 2px $accent solid;
  }
  ::ng-deep button:not(.toggle-password) {
    @include mixins.button($accent);
    aspect-ratio: 1/1;
    width: 51px;
    padding: unset;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    position: relative;
    box-shadow: unset;
    box-shadow: inset -5px 2px 5px 0px rgba(0, 0, 0, 0.08) !important;
    -webkit-box-shadow: inset -5px 2px 5px 0px rgba(0, 0, 0, 0.08) !important;

    ion-icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
    }
  }
  input {
    padding: 15px;
    font-size: types.$text;
    border-radius: 5px;
    border: none;
    @extend .inset-shadow;
    width: inherit;
    &.invalid {
      outline: 3px solid $accent;
    }
    &:focus {
      outline: 2px solid $accent;
    }
  }
  button.toggle-password:has(ng-icon) {
    position: absolute;
    right: 10px;

    background-color: transparent;
    border: none;
    height: 100%;
    &:hover {
      ng-icon {
        color: color.adjust($primary, $lightness: 10%);
      }
    }
    ng-icon {
      width: 18px;
      height: 18px;
      color: $primary;
    }
  }
}
