<input
  #input
  [attr.type]="type"
  [attr.placeholder]="placeholder"
  [attr.defaultValue]="defaultValue"
  [attr.name]="name"
  (input)="onChange($event, dataSuggestionsVar)"
  (blur)="onBlur(dataSuggestionsVar); validator(input)"
  [(ngModel)]="ngModel"
  [attr.autocomplete]="autocomplete"
  [attr.dataset.suggestion]="dataSuggestionsVar"
  [ngClass]="{
    invalid: !isValid,
  }"
  [attr.accept]="accept"
  [attr.id]="id"
  [value]="value"
  [attr.autofocus]="autofocus"
  [attr.list]="list"
  />
  @if (!isValid) {
    <small class="error">
      {{ validatorMsg }}
    </small>
  }
  @if (name==='password') {
    <button (mousedown)="setType('text')" (mouseup)="setType('password')" type="button" class="toggle-password">
      <!-- <ng-icon  name="ion-eye"></ng-icon> -->
    </button>
  }
  <ng-content></ng-content>
