<div class="landing">
  <div class="landing__wrap">
    <img src="../../../assets/titolo-lg.png" alt="" />
    <div class="landing__wrap-compare">
      <p>Cerca due serie per scoprire quali doppiatori hanno in comune</p>
      <form class="landing__form" (submit)="navigateToComparison()">
        <app-suggestion-input
          name="workQuery"
          dataSuggestionsVar="suggestionsOne"
          placeholder="Inserisci serie"
          [autocomplete]="'off'"
          required
          id="work"
          >
        </app-suggestion-input>

        <app-suggestion-input
          name="compareToQuery"
          dataSuggestionsVar="suggestionsTwo"
          placeholder="Inserisci serie"
          [autocomplete]="'off'"
          required
          id="compareTo"
          >
        </app-suggestion-input>

        <app-button>Cerca</app-button>
      </form>
      @if (isLogged) {
        <section>
          <p>
            Inserisci il nome della serie che stai guardando e scopri in quali serie
            potresti averlo sentito:
          </p>
          <div class="landing__wrap-search">
            <app-suggestion-input
              name="watchListQuery"
              placeholder="Inserisci un titolo"
              dataSuggestionsVar="suggestionsWatchList"
              [autocomplete]="'off'"
              id="user-compare"
              >
            </app-suggestion-input>
            <app-button [onClick]="navigateToUserComparison">Cerca</app-button>
          </div>
        </section>
      } @else {
        <p>
          Oppure <a [routerLink]="['/auth']">effettua il login</a> per scoprire in
          quali serie potresti aver sentito <i> quel </i> doppiatore
        </p>
      }
    </div>
  </div>
  <!-- <div class="landing__img">
    <img src="../../../assets/foto.png" alt="" />
  </div> -->
</div>
