@use "src/styles/types";
@use "src/styles/colors" as *;
@mixin multiple-lines {
  flex-direction: column;
  > * {
    width: 100%;
  }
}
:host {
  display: block;
  height: calc(100vh - 80px);
  container-type: inline-size;
  .landing {
    height: 100%;
    padding-inline: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @container (max-width: 900px) {
      padding-inline: 5%;
    }

    &__wrap {
      width: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;
      @container (max-width: 900px) {
        width: 100%;
      }
      .landing__form {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        @container (max-width: 1250px) {
          @include multiple-lines;
        }
        @container (max-width: 700px) {
          @include multiple-lines;
        }
        @container (min-width: 701px) and (max-width: 900px) {
          flex-direction: unset;
          > * {
            width: unset;
          }
        }
      }

      img {
        width: 600px;
        @container (max-width: 700px) {
          width: 100%;
        }
      }
      p {
        width: 80%;
        font-size: types.$text;
        color: $textColor;
        line-height: 1.5;
        @container (max-width: 700px) {
          width: 100%;
        }
      }
      app-input {
        position: relative;
      }
      &-search {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        app-suggestion-input {
          width: 60%;
          min-width: 300px;

        }
        @media screen and (max-width: 480px) {
          app-button, app-suggestion-input {
              width: 100%;

            }
          }
      }
    }
    &__img {
      width: 30%;
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      @container (max-width: 900px) {
        display: none;
      }
      img {
        width: 90%;
      }
    }
  }
}
