<div class="landing">
  <div class="landing__wrap">
    <img src="../../../assets/titolo-lg.png" alt="" />
    <div class="landing__wrap-compare">
      <p>Cerca due serie per scoprire quali doppiatori hanno in comune</p>
      <div class="landing__form">
        <app-suggestion-input
          name="showOneQuery"
          dataSuggestionsVar="suggestionsOne"
          placeholder="Inserisci serie"
          [autocomplete]="'off'"
        >
        </app-suggestion-input>

        <app-suggestion-input
          name="showTwoQuery"
          dataSuggestionsVar="suggestionsTwo"
          placeholder="Inserisci serie"
          [autocomplete]="'off'"
        >
        </app-suggestion-input>

        <app-button [onClick]="navigateToComparison">Cerca</app-button>
      </div>
    </div>
    <section *ngIf="isLogged; else notLogged">
      <p>
        Inserisci il nome della serie che stai guardando e scopri in quali serie
        potresti averlo sentito:
      </p>
      <div class="landing__wrap-search">
        <app-suggestion-input
          name="watchListQuery"
          placeholder="Inserisci un titolo"
          dataSuggestionsVar="suggestionsWatchList"
          [autocomplete]="'off'"
        >
        </app-suggestion-input>

        <app-button [onClick]="navigateToUserComparison">Cerca</app-button>
      </div>
    </section>
    <ng-template #notLogged>
      <p>
        Oppure <a [routerLink]="['/auth']">effettua il login</a> per scoprire in
        quali serie potresti aver sentito <i> quel </i> doppiatore
      </p>
    </ng-template>
  </div>
  <div class="landing__img">
    <img src="../../../assets/foto.png" alt="" />
  </div>
</div>
