@use "/src/styles/colors" as *;

:host {
  display: block;
  padding-inline: 50px;
  padding-block: 20px;
  flex: 1 1 auto;
  .cards {
    min-width: 65%;
    width: 100vw;
    container-type: inline-size;
    margin: auto;
    padding-inline: 10%;
  }
  .masonry-item {
    margin-bottom: 10px;
  width: calc(33.3% - 30px);

  }
  ngx-masonry {
    // width: 100%;
    margin: auto
  }
  .search {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .modal-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.5);
  }
}
