@use "/src/styles/colors" as *;

:host {
  display: block;
  padding-inline: 50px;
  padding-block: 20px;
  flex: 1 1 auto;
  .cards {
    min-width: 65%;
    width: 100vw;
    container-type: inline-size;
    margin: auto;
    padding-inline: 10%;
  }
  .masonry-item {
    margin-bottom: 10px;
  width: calc(33.3% - 30px);
  }

  @media screen and (max-width: 1080px) {
    .masonry-item {
      position: static!important;
      width: 30%;
    }
    ngx-masonry {
      // height: 200vh!important;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

@media screen and (max-width: 950px) {
    .masonry-item {
      position: static!important;
      width: calc(50% - 10px);
    }
    ngx-masonry {
      height: unset!important;
      flex-direction: row;
      align-items: stretch
    }
  }

  ngx-masonry {
    // width: 100%;
    margin: auto
  }
  .search {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .modal-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0, 0.5);
  }
}
