@import "/src/styles/colors";

:host {
  display: block;
  padding-inline: 50px;
  padding-block: 20px;
  flex: 1 1 auto;
  .cards {
    min-width: 65%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    // flex-direction: column;
    gap: 20px;
    container-type: inline-size;
  }


  .search {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    app-card {
      // min-width: 550px;
    }
  }

  .modal-loading {
    position: fixed;
    top: 0;
    left:0;
    width: 100vw;
    height: 100vh;

     background-color: rgb(0, 0, 0, 0.5);

  }
}
