@if (!(isLoading && !isDetailsLoading)) {
  <h1>{{ query }} — ({{ total }}) risultati</h1>
}
@if (isLoading && !isDetailsLoading) {
  <div class="loader"></div>
} @else {
  <app-pagination ></app-pagination>
  <div class="search">
    <div class="cards" >
      <!-- <ngx-masonry [options]="masonryOptions"> -->
      @for (work of works; track work.id) {
        <!-- <div class="masonry-item" ngxMasonryItem> -->
          <app-card  [clickFn]="setSelected" [work]="work"> </app-card>
      }
      <!-- </ngx-masonry> -->
    </div>
    @if (openModal && selected) {
      <app-modal> </app-modal>
    }
  </div>
  <app-pagination ></app-pagination>
}
