<h1>
  Dove
  <span>
    cazzo
    <img src="../../../assets/strike.png" />
  </span>
  hai sentito questo doppiatore?!
</h1>
<h2>
  <ng-template #userCompare>
    <span>
      {{ showQuery }}
    </span>
    — Doppiatori in comune con la tua watchlist
  </ng-template>
  <ng-container *ngIf="title && compareTo; else userCompare">
    <span>
      {{ title }}
    </span>
    &
    <span>
      {{ compareTo }}
    </span>
    — Doppiatori in comune
  </ng-container>
</h2>
<div class="compare__search">
  <ng-template #userCompareForm>
    <app-suggestion-input
      dataSuggestionsVar="suggestions"
      placeholder="Inserisci serie"
      name="watchListQuery"
      [autocomplete]="'off'"
    >
    </app-suggestion-input>
    <app-button [onClick]="navigateToUserComparison">Cerca</app-button>
  </ng-template>
  <ng-container *ngIf="title && compareTo; else userCompareForm">
    <app-suggestion-input
      dataSuggestionsVar="suggestionsOne"
      placeholder="Inserisci serie"
      name="showOneQuery"
      [autocomplete]="'off'"
    >
    </app-suggestion-input>

    <app-suggestion-input
      name="showTwoQuery"
      dataSuggestionsVar="suggestionsTwo"
      placeholder="Inserisci serie"
      [autocomplete]="'off'"
    >
    </app-suggestion-input>
    <app-button [onClick]="navigateToComparison">Cerca</app-button>
  </ng-container>
</div>
<h2 *ngIf="!isLoading">({{ doppiatori.length }}) risultati:</h2>
<ng-template #loading>
  <div class="loading__wrap">
    <div class="loader"></div>
  </div>
</ng-template>
<div
  class="compare__wrap"
  #grid
  [ngClass]="{
    row: doppiatori.length <= 2,
    col: doppiatori.length > 2,
  }"
  *ngIf="!isLoading; else loading"
  [style]="window.innerWidth > window.innerHeight ? 'max-height:' + gridRowEnd + 'px' : ''"
>
  <!-- <div class="compare-card-wrap" > -->
  <app-compare-card
    *ngFor="let doppiatore of doppiatori"
    [name]="doppiatore.name"
    [characters]="doppiatore.characters"
  ></app-compare-card>
  <!-- </div> -->
</div>
