@import "/src/styles/colors";
@mixin multiple-lines {
  flex-direction: column;
  > * {
    width: 100%;
  }
}
:host {
  display: block;
  padding-inline: 50px;
  padding-block: 20px;
  container-type: inline-size;
  .loading__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  h1 {
    color: $primary;
    span {
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }
  }
  h2 {
    font-weight: normal;
    span {
      font-weight: bold;
      color: $primary;
    }
  }

  .compare__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;

    &.row {
      flex-direction: row;
      > * {
        flex: 1 1 calc(50% - 20px);
      }
    }

    &.col {
      display: flex;
      flex-direction: column;
      // max-height: 1000px;

      > * {
        flex: 1 1 500px;
        max-width: 50%;
        height: fit-content;
      }
    }
  }
  .compare__search {
    display: flex;
    flex-direction: unset;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    @container (max-width: 900px) {
      @include multiple-lines;
    }
    @container (max-width: 700px) {
      @include multiple-lines;
    }
    @container (min-width: 701px) and (max-width: 900px) {
      flex-direction: unset;
      > * {
        width: unset;
      }
    }
  }
}
