
<h2>
  @if (title && compareTo) {
    <span>
      {{ title }}
    </span>
    &
    <span>
      {{ compareTo }}
    </span>
    — Doppiatori in comune
  } @else {
    <span>
      {{ showQuery }}
    </span>
    — Doppiatori in comune con la tua watchlist
  }
</h2>
<div class="compare__search">
  @if (title && compareTo) {
    <app-suggestion-input
      dataSuggestionsVar="suggestionsOne"
      placeholder="Inserisci serie"
      name="workQuery"
      [autocomplete]="'off'"
      >
    </app-suggestion-input>
    <app-suggestion-input
      name="compareToQuery"
      dataSuggestionsVar="suggestionsTwo"
      placeholder="Inserisci serie"
      [autocomplete]="'off'"
      >
    </app-suggestion-input>
    <app-button [onClick]="navigateToComparison">Cerca</app-button>
  } @else {
    <app-suggestion-input
      dataSuggestionsVar="suggestions"
      placeholder="Inserisci serie"
      name="watchListQuery"
      [autocomplete]="'off'"
      >
    </app-suggestion-input>
    <app-button [onClick]="navigateToUserComparison">Cerca</app-button>
  }
</div>
@if (!isLoading) {
  <h2>({{ doppiatori.length }}) risultati:</h2>
}
@if (!isLoading) {
  <div
    class="compare__wrap"
    #grid
  
    [style]="window.innerWidth > window.innerHeight ? 'max-height:' + gridRowEnd + 'px' : ''"
    >
    @for (doppiatore of doppiatori; track doppiatore.name) {
      <app-compare-card
        [name]="doppiatore.name"
        [characters]="doppiatore.characters"
      ></app-compare-card>
    }
  </div>
} @else {
  <div class="loading__wrap">
    <div class="loader"></div>
  </div>
}
